@import url('@livechat/design-system/dist/design-system.css');
@import url('@livechat/design-system-react-components/dist/style.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.full-screen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.view-container {
  padding: 16px;
}

.customer-list {
  width: 100%;
}

h1 {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--border-basic-secondary);
  color: var(--content-basic-secondary);
  font-weight: 400;
}

tr {
  border-bottom: 1px solid var(--border-basic-secondary);
}

td {
  padding: 8px;
}

ul {
  margin-top: 0;
}
